@import "bourbon"

$roboto-regular: "roboto-regular", sans-serif
$roboto-bold: "roboto-bold", sans-serif
$color-main: rgb(255, 133, 50)
$color-sup: rgb(21, 146, 117)
$color-text: rgb(19, 19, 19)
$color-text-sup: rgb(127, 127, 127)

